<div class="records table-responsive">
    <!-- <div class="record-header">
        <div class="font-weight-bold">
            <span>Dernier Manager</span>
        </div>
    </div> -->
    <div>
        <table width="100%">
            <div class="section-title" data-aos="fade-up" >
                <div class="col-6">
                <img attr.src="{{item4.image}}"class="rounded-circle profile-img-list img-fluid">
                    <h3>{{ item4.nom }}</h3></div>
            
            </div>
        </table>
    </div>
</div>
<!-- <thead>
                <tr>
                    <th><span class="col"></span> id</th>
                    <th><span class="col"></span> Nom </th>
                    <th><span class="col"></span> category</th>
                    <th><span class="col"></span> Spécialité</th>
                    <th><span class="col"></span> Nombre de ticket repondre</th>
                    <th><span class="col"></span> Nombre de document </th>
                    <th><span class="col"></span> Action</th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td scope="row"><span>{{ item4.id }}</span></td>
                    <td>
                       <img class="bg-img" style="background-image: url(https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png)"/> 

                        {{ item4.nom }}
                    </td>
                    <td>{{ item4.category }}</td>
                    <td>{{ item4.specialite }}</td>
                    <td>{{ item4.nombre_ticket }}</td>
                    <td>{{ item4.nombre_document }}</td>
                    <td><app-bouton-open></app-bouton-open></td>
                </tr>
            </tbody> -->