<div class="side-menu">
 <ul>
     <li>
         <a [routerLink]="['/']" class="active">
             <span class="las la-home"></span>
             <small class="text-white">Home</small>
         </a>
     </li>

     <li>
         <a [routerLink]="['/admin/list-article']">
             <span><i class="bi bi-file-earmark-bar-graph"></i>
             </span>
             <small class="text-white">list article</small>
         </a>
     </li>
     <li>
         <a [routerLink]="['/admin/list-ticket']">
             <span><i class="bi bi-card-list"></i>
             </span>
             <small class="text-white">list ticket</small>
         </a>
     </li>
     <li>
         <a [routerLink]="['/admin/list-manager']">
             <span><i class="bi bi-list-stars"></i>
             </span>
             <small class="text-white">list manager</small>
         </a>
     </li>
     <li>
         <a [routerLink]="['/admin/list-expert']">
             <span><i class="bi bi-list"></i>
             </span>
             <small class="text-white">list expert </small>
         </a>
     </li>
     <li>
         <a [routerLink]="['/admin/list-client']">
             <span><i class="bi bi-person-lines-fill"></i>
             </span>
             <small class="text-white">list client</small>
         </a>
     </li>
     <li>
         <a href="">
             <span class="las la-user-alt"></span>
             <small>Profile</small>
         </a>
     </li>
 </ul>
</div>