<input type="checkbox" id="menu-toggle">
<div class="sidebar">
    <div class="side-content">
        <app-nom-admin></app-nom-admin>
        <app-navbar></app-navbar>
    </div>
</div>
<div class="main-content">

    <app-header>
    </app-header>


    <main>
        <div class="page-header">
            <h1>List Ticket</h1>
        </div>
<!-- barre de recherche -->

<div class="container">
    <div class="card p-4 mt-5">
        <form >
            <div class="row g-3">
                <div class="col-lg-6 col-md-12">
                    <div class="form-floating">
                        <input type="text" placeholder="Nom de Ticket"  class="form-control" >
                        
                        <label>Nom de Ticket</label>
                    </div>
                </div>
                    <div class="col-lg-6 col-md-12">
                        <app-list-category ></app-list-category>
                    </div>
                    <div class="col-lg-6 col-md-12">
                        <app-priority></app-priority>
                    </div>
                    
                    <div class="col-lg-6 col-md-12">
                        <app-nom-expert></app-nom-expert>
                    </div>
                    <div class="col-lg-6 col-md-12">
                        <div class="form-floating">
                            <input type="date" placeholder="DEPARTING"  class="form-control" >
                            <label>Date de ticket</label>
                        </div>
                    </div>
                    <app-bouton-recherche></app-bouton-recherche>
                
            </div>
        </form>
    </div>
</div>
    </main>

</div>